// colors
$color-primary: #d87d4a;
$color-primary-hover: #fbaf85;
$color-secondary: #f1f1f1;
$color-tertiary: #191919;
$color-light-grey: rgba(255, 255, 255, 0.5);
$color-light: #fff;
$color-dark: #000;
$color-text-secondary: rgba(0, 0, 0, 0.5);

// Breakpoints for media query
$breakpoints: (
  "xsm": 375px,
  "sm": 480px,
  "md": 576px,
  "lg": 768px,
  "xlg": 992px,
);
