/* Buttons */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
.button-primary {
  font-size: 1.3rem;
  background-color: #d87d4a;
  color: #fff;
  padding: 1.5rem 3rem;
  border: none;
  text-transform: uppercase;
  transition: all 300ms; }
  .button-primary:hover {
    background-color: #fbaf85; }

.speaker-ZX9-btn {
  background-color: #000; }
  .speaker-ZX9-btn:hover {
    background-color: #4c4c4c; }

.button-secondary {
  transition: background-color 300ms, color 300ms;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: transparent;
  color: #000;
  padding: 1.5rem 3rem;
  border: 2px solid black; }
  .button-secondary:hover {
    background-color: #191919;
    color: #fff; }

.go-back-btn {
  color: rgba(0, 0, 0, 0.5); }
  .go-back-btn:hover {
    cursor: pointer; }

/* End Of Buttons */
body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif; }

h1 {
  font-size: 4rem; }
  @media (min-width: 576px) {
    h1 {
      font-size: 5.6rem; } }

h2 {
  font-size: 2.8rem;
  margin-bottom: 3.2rem; }
  @media (min-width: 576px) {
    h2 {
      font-size: 4rem; } }

h3 {
  margin-bottom: 1.5rem; }

/* Base styles */
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

p {
  margin-bottom: 1.5rem; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

/* header */
.header-wrapper {
  background-color: #191919;
  color: #fff; }
  .header-wrapper .bought-product-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    padding: 3rem;
    margin-left: -10px; }
    .header-wrapper .bought-product-info-wrapper #tick-mark-wrapper {
      width: fit-content;
      border-radius: 50%;
      background-color: #d87d4a;
      padding: 2rem; }
    .header-wrapper .bought-product-info-wrapper #tick-mark {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #d87d4a;
      border-radius: 50%; }
    .header-wrapper .bought-product-info-wrapper #tick-mark::before {
      position: absolute;
      left: 0;
      top: 50%;
      height: 50%;
      width: 3px;
      background-color: #fff;
      content: "";
      transform: translateX(10px) rotate(-45deg);
      transform-origin: left bottom; }
    .header-wrapper .bought-product-info-wrapper #tick-mark::after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: #fff;
      content: "";
      transform: translateX(10px) rotate(-45deg);
      transform-origin: left bottom; }
    .header-wrapper .bought-product-info-wrapper .message-to-user {
      color: rgba(0, 0, 0, 0.5); }
    .header-wrapper .bought-product-info-wrapper .bought-product-info {
      max-height: 92vh;
      overflow-y: auto;
      color: #000;
      background-color: #fff;
      padding: 3rem;
      border-radius: 1rem;
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 3rem; }
      .header-wrapper .bought-product-info-wrapper .bought-product-info::-webkit-scrollbar {
        width: 12px;
        color: red; }
      .header-wrapper .bought-product-info-wrapper .bought-product-info::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px; }
      .header-wrapper .bought-product-info-wrapper .bought-product-info::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        background-color: #d87d4a; }
      .header-wrapper .bought-product-info-wrapper .bought-product-info h2 {
        line-height: 1.1;
        margin: 0;
        font-size: 2.8rem; }
        @media (min-width: 768px) {
          .header-wrapper .bought-product-info-wrapper .bought-product-info h2 {
            font-size: 3.2rem; } }
    .header-wrapper .bought-product-info-wrapper .bought-products {
      display: flex;
      flex-direction: column; }
      @media (min-width: 576px) {
        .header-wrapper .bought-product-info-wrapper .bought-products {
          flex-direction: row; } }
      .header-wrapper .bought-product-info-wrapper .bought-products-list {
        background-color: #f1f1f1;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        padding: 2rem; }
        @media (min-width: 576px) {
          .header-wrapper .bought-product-info-wrapper .bought-products-list {
            border-top-right-radius: 0;
            border-bottom-left-radius: 1rem; } }
        .header-wrapper .bought-product-info-wrapper .bought-products-list ul {
          max-height: 7rem;
          overflow: hidden; }
        .header-wrapper .bought-product-info-wrapper .bought-products-list button {
          border: none;
          color: rgba(0, 0, 0, 0.5);
          display: block;
          text-align: center;
          margin: 0 auto;
          margin-top: 2rem; }
        .header-wrapper .bought-product-info-wrapper .bought-products-list .view-less-btn {
          display: none; }
      .header-wrapper .bought-product-info-wrapper .bought-products .expanded {
        max-height: none; }
      .header-wrapper .bought-product-info-wrapper .bought-products .total-spent-money {
        background-color: #000;
        color: #fff;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: 2rem; }
        @media (min-width: 576px) {
          .header-wrapper .bought-product-info-wrapper .bought-products .total-spent-money {
            border-bottom-left-radius: 0;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem; } }
    .header-wrapper .bought-product-info-wrapper a {
      display: block;
      text-align: center; }

.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem; }
  .header-top {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    @media (min-width: 576px) {
      .header-top-top {
        gap: 50px; } }
  .header .hamburger {
    cursor: pointer; }
    @media (min-width: 992px) {
      .header .hamburger {
        display: none; } }
  .header hr {
    height: 1px;
    border: none;
    background-color: #979797;
    margin: 0 -2rem; }
    @media (min-width: 768px) {
      .header hr {
        margin: 0; } }
  .header-hamburger-nav {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    width: 100%;
    overflow-y: auto;
    position: fixed;
    inset: 0;
    top: 8.94rem;
    bottom: 0;
    opacity: 0;
    transform: translateY(-100px); }
    @media (min-width: 576px) {
      .header-hamburger-nav ul {
        flex-direction: row;
        gap: 10px; }
      .header-hamburger-nav li {
        flex-grow: 1; } }
    .header-hamburger-nav-unhide {
      opacity: 1;
      z-index: 2;
      transform: translateY(1px);
      transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; }
    .header-hamburger-nav .common-nav {
      padding: 8rem 2rem 3rem;
      background-color: #fff;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      margin-top: 0; }
  .header-notification {
    position: relative; }
    .header-notification button {
      background-color: #000; }
    .header-notification button:not(.empty)::after {
      content: attr(data-count);
      height: 20px;
      width: 20px;
      font-size: 12px;
      background: #d87d4a;
      display: block;
      position: absolute;
      top: -11px;
      color: white;
      right: -9px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header-notification:hover {
      cursor: pointer; }
  .header .chosen-product-modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    color: #000;
    display: flex;
    align-items: flex-start; }
  .header .chosen-product-modal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 30px;
    width: 100%;
    max-width: 40rem;
    flex-grow: 0;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    border-radius: 10px; }
    @media (min-width: 768px) {
      .header .chosen-product-modal {
        margin-right: 20%; } }
    .header .chosen-product-modal .empty-basket {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      .header .chosen-product-modal .empty-basket img {
        filter: invert(1.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
        width: 9.6rem;
        margin: 0 auto; }
    .header .chosen-product-modal-header {
      display: flex;
      margin-bottom: 0; }
      .header .chosen-product-modal-header button {
        margin-left: auto;
        color: rgba(0, 0, 0, 0.5);
        background-color: #fff;
        border: none;
        text-decoration: underline; }
    .header .chosen-product-modal .checkout-button {
      width: 100%; }
  .header .chosen-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
    .header .chosen-product:last-child {
      margin-bottom: 0; }
    .header .chosen-product-info {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .header .chosen-product-info div {
        font-weight: bold; }
      .header .chosen-product-info p {
        margin: 0;
        color: rgba(0, 0, 0, 0.5); }
      .header .chosen-product-info-img {
        width: 7rem; }
  .header .chosen-products-cost {
    display: flex;
    justify-content: space-between; }
    .header .chosen-products-cost p {
      margin: 0; }
    .header .chosen-products-cost-text {
      color: rgba(0, 0, 0, 0.5); }
    .header .chosen-products-cost-amount {
      font-weight: 700; }
  .header-bottom {
    text-align: center;
    position: relative;
    height: 550px;
    display: flex; }
  .header-bottom-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/home/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: 10% -20px;
    background-size: 100%; }
    @media (min-width: 375px) {
      .header-bottom-img {
        background-position-y: -60px; } }
    @media only screen and (min-width: 450px) {
      .header-bottom-img {
        width: 80%;
        margin: 0 auto;
        background-size: cover;
        max-width: 450px;
        background-position: 10% -92px; } }
    @media (min-width: 576px) {
      .header-bottom-img {
        background-position: 10% -142px; } }
    @media (min-width: 768px) {
      .header-bottom-img {
        background-image: url("../images/home/tablet/image-header.jpg");
        background-repeat: no-repeat;
        background-position: 10% 80%;
        background-size: 100%;
        width: 90%;
        max-width: 700px; } }
    @media (min-width: 992px) {
      .header-bottom-img {
        background-image: url("../images/home/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-position: 80% -59px;
        background-size: 225%;
        width: 50%;
        position: static;
        margin: 0;
        margin-left: auto; } }
  .header-bottom-text {
    position: absolute;
    display: flex;
    gap: 20px;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
    @media (min-width: 992px) {
      .header-bottom-text {
        align-items: flex-start;
        text-align: left;
        width: 50%;
        margin: 0;
        margin-right: auto;
        position: static;
        transform: translate(0, 0); } }
  .header-bottom-text h2 {
    font-size: 1.4rem;
    letter-spacing: 9px;
    color: rgba(255, 255, 255, 0.5); }
  .header-bottom-text h1 {
    font-size: 4rem;
    line-height: 1; }
  .header-bottom-text p {
    color: rgba(255, 255, 255, 0.5); }
  .header .pages-header-bottom {
    padding: 3rem;
    text-align: center; }
  .header .pages-header-bottom h1 {
    font-size: 2.8rem; }
  @media only screen and (min-width: 450px) {
    .header-bottom-text {
      width: 80%;
      max-width: 400px; }
      .header-bottom-text h1 {
        font-size: 5.6rem; } }
  @media (min-width: 576px) {
    .header .logo {
      margin-right: auto;
      margin-left: 2rem; } }
  @media (min-width: 992px) {
    .header .logo {
      margin-right: 0;
      margin-left: 0; } }
  @media (min-width: 768px) {
    .header .pages-header-bottom h1 {
      font-size: 4rem; } }

.hide-scroll {
  overflow: hidden; }

/* End Of Header */
/* Common Nav */
.common-nav {
  margin-top: 13.5rem; }
  .common-nav ul {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 7rem; }
  .common-nav li {
    position: relative;
    background-color: #f1f1f1;
    color: #000;
    height: 165px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem; }
  .common-nav p {
    margin: 0; }
  .common-nav a {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; }
  .common-nav a:hover {
    color: #d87d4a;
    transition: all 350ml; }
  @media (min-width: 576px) {
    .common-nav ul {
      flex-direction: row;
      gap: 1rem; }
      .common-nav ul li {
        flex-grow: 1; } }
  @media (min-width: 768px) {
    .common-nav ul {
      gap: 2rem; } }

.selling-group {
  position: absolute;
  top: 0;
  transform: translatey(-40%);
  width: 155px; }

.arrow-right {
  width: 10px;
  margin-left: 10px;
  margin-bottom: 2px; }

/* End of Common Nav */
.main-nav {
  display: none;
  color: #fff;
  margin: auto; }
  .main-nav a {
    color: #fff; }
  .main-nav a:hover {
    color: #d87d4a;
    transition: all 300ml; }
  .main-nav ul {
    display: flex;
    gap: 30px; }
  @media (min-width: 992px) {
    .main-nav {
      display: flex; } }

/* Main */
.main {
  max-width: 1100px;
  padding: 30px 20px;
  margin: 0 auto; }
  .main-items {
    display: flex;
    flex-direction: column;
    gap: 4rem; }

/* Main, General Classes */
.main-two-celled-div-gen {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  margin-top: 7rem; }
  .main-two-celled-div-gen-img img {
    border-radius: 10px; }
  .main-two-celled-div-gen-text {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-two-celled-div-gen-text span {
    color: #d87d4a;
    font-size: 2.8rem; }
  .main-two-celled-div-gen-img img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; }
  .main-two-celled-div-gen-text h2 {
    margin-bottom: 0;
    max-width: 90%; }
  .main-two-celled-div-gen-text h3 {
    color: #d87d4a;
    letter-spacing: 9px;
    font-weight: 100; }
  .main-two-celled-div-gen-text p {
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    .main-two-celled-div-gen-text h2 {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      max-width: 60%; }
    .main-two-celled-div-gen-text p {
      max-width: 80%; }
    .main-two-celled-div-gen-img img {
      max-height: 450px; }
    .main-two-celled-div-gen-text span {
      font-size: 4rem; } }
  @media (min-width: 992px) {
    .main-two-celled-div-gen {
      flex-direction: row;
      text-align: left;
      gap: 6rem; }
      .main-two-celled-div-gen-text {
        flex: 1;
        justify-content: center;
        align-items: flex-start; }
      .main-two-celled-div-gen-img {
        flex: 1;
        justify-content: flex-end;
        max-height: 550px; }
      .main-two-celled-div-gen-img img {
        max-height: 550px; }
      .main-two-celled-div-gen .text-left {
        order: -1; } }

/* End of Main, General Classes*/
/* Individual Items Main*/
.individual-item-main > div {
  margin-top: 10rem; }

.individual-item-main > div:first-of-type {
  margin-top: 3rem; }

.individual-item {
  display: flex;
  gap: 3rem;
  flex-direction: column; }
  .individual-item-img img {
    width: 100%;
    border-radius: 1rem; }
  .individual-item-text h3 {
    font-size: 1.4rem;
    color: #d87d4a;
    letter-spacing: 9px; }
  .individual-item-text h2 {
    max-width: 250px; }
  .individual-item-text p:first-of-type {
    color: rgba(0, 0, 0, 0.5); }
  .individual-item-defining-number-of-items {
    display: flex;
    color: #000; }
  .individual-item-decrease-number-of-item, .individual-item-increase-number-of-item, .individual-item-number-of-item {
    background-color: #f1f1f1;
    border: none;
    padding: 1.3rem;
    display: flex;
    align-items: center; }
  .individual-item-decrease-number-of-item:hover, .individual-item-increase-number-of-item:hover {
    background-color: #d3d3d3;
    color: #d87d4a;
    transition: all 300ms; }
  .individual-item-buttons {
    display: flex;
    gap: 1rem; }
  .individual-item-price {
    font-size: 1.8rem;
    font-weight: bold; }
  .individual-item-additional-info {
    display: flex;
    flex-direction: column;
    gap: 10rem; }
  .individual-item-additional-info p,
  .individual-item-additional-info li {
    color: rgba(0, 0, 0, 0.5); }
  .individual-item-in-the-box {
    display: flex;
    flex-direction: column; }
  .individual-item-in-the-box ul span {
    color: #d87d4a;
    font-weight: bold; }
  .individual-item-in-the-box ul li {
    display: flex;
    gap: 2rem; }
  .individual-item-images {
    display: grid;
    row-gap: 2rem; }
    .individual-item-images img {
      width: 100%;
      object-fit: cover; }
  .individual-item-related-items {
    text-align: center; }
  .individual-item-related-items ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem; }
  .individual-item-related-items li {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    margin-top: 3.2rem; }
  .individual-item-related-items img {
    border-radius: 1rem; }
  @media only screen and (min-width: 535px) {
    .individual-item {
      flex-direction: row;
      align-items: center; }
      .individual-item-img {
        flex-basis: 40%; }
      .individual-item-text {
        flex-basis: 60%; }
      .individual-item-images {
        grid-template-columns: 40% 1fr;
        grid-row: auto auto;
        column-gap: 2rem;
        row-gap: 2rem; }
      .individual-item-images-img1 img,
      .individual-item-images-img2 img,
      .individual-item-images-img3 img {
        height: 100%; }
      .individual-item-images-img3 {
        grid-row: 1/3;
        grid-column: 2/3; } }
  @media (min-width: 768px) {
    .individual-item-text h2 {
      max-width: 30rem; }
    .individual-item-in-the-box {
      flex-direction: row; }
    .individual-item-in-the-box h2,
    .individual-item-in-the-box ul {
      flex-basis: 50%; }
    .individual-item-related-items ul {
      flex-direction: row; } }
  @media (min-width: 992px) {
    .individual-item-img {
      flex-basis: 50%; }
    .individual-item-text {
      flex-basis: 50%; }
    .individual-item-additional-info {
      flex-direction: row; }
    .individual-item-features {
      flex-basis: 60%; }
    .individual-item-in-the-box {
      margin-top: 0;
      flex-basis: 40%; }
    .individual-item-in-the-box {
      flex-direction: column; }
    .individual-item-in-the-box h2,
    .individual-item-in-the-box ul {
      flex-basis: 0; }
    .individual-item-related-items ul {
      gap: 2rem; } }

/* End of Individual Items Main*/
.footer-wrapper {
  background-color: #191919; }

.footer {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 6rem 2.4rem 4rem;
  color: #fff;
  position: relative; }
  .footer-orange-color-effect {
    position: absolute;
    top: 0;
    border: 2px solid #d87d4a;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 576px) {
      .footer-orange-color-effect {
        left: 2.4rem;
        transform: translateX(0); } }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
    @media (min-width: 576px) {
      .footer-top {
        align-items: flex-start; } }
    @media (min-width: 768px) {
      .footer-top {
        flex-direction: row; } }
    .footer-top-main-nav {
      display: flex;
      margin: 0; }
      @media (min-width: 768px) {
        .footer-top-main-nav {
          margin-left: auto; } }
      .footer-top-main-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center; }
        @media (min-width: 576px) {
          .footer-top-main-nav ul {
            flex-direction: row;
            text-align: left; } }
  .footer-bottom {
    margin-top: 3rem;
    display: grid;
    row-gap: 4rem;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5); }
    @media (min-width: 576px) {
      .footer-bottom {
        grid-template-columns: 1fr 1fr;
        text-align: left; } }
    @media (min-width: 768px) {
      .footer-bottom {
        align-items: end; } }
    @media (min-width: 576px) {
      .footer-bottom-text {
        grid-column: 1/3; } }
    @media (min-width: 992px) {
      .footer-bottom-text {
        grid-column: 1/2; } }
    .footer-bottom-social-networks {
      display: flex;
      justify-content: center;
      gap: 1.5rem; }
      @media (min-width: 576px) {
        .footer-bottom-social-networks {
          justify-self: end; } }
      @media (min-width: 992px) {
        .footer-bottom-social-networks {
          grid-row: 1/2;
          grid-column: 2/3; } }
      .footer-bottom-social-networks a {
        color: #fff;
        display: flex;
        align-items: center;
        width: 2.6rem; }
        .footer-bottom-social-networks a:hover {
          transition: all 300ml;
          filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9); }

.home-speaker-ZX9 {
  background-color: #d87d4a;
  background-image: url("../images/home/desktop/pattern-circles.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 2rem;
  color: #fff; }
  .home-speaker-ZX9 div h1 {
    max-width: 200px;
    margin: 0 auto; }
  .home-speaker-ZX9 div p {
    max-width: 250px;
    margin: 30px auto;
    color: #fff; }
  .home-speaker-ZX9 img {
    max-width: 22rem; }
  @media (min-width: 992px) {
    .home-speaker-ZX9 {
      padding: 0;
      height: 55rem;
      background-size: cover;
      background-position: -215px 40%; }
      .home-speaker-ZX9 .main-two-celled-div-gen-img {
        flex: 1;
        text-align: right;
        position: relative;
        overflow: hidden;
        padding: 0; }
      .home-speaker-ZX9 .main-two-celled-div-gen-img img {
        position: absolute;
        right: 0;
        bottom: -25px;
        max-width: 40rem; }
      .home-speaker-ZX9 div p,
      .home-speaker-ZX9 div h1 {
        margin-right: 0;
        margin-left: 0; } }

.main-items-zx7speaker {
  position: relative; }
  .main-items-zx7speaker img {
    border-radius: 1rem;
    width: 100%; }
  .main-items-zx7speaker-text {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%); }

.main-items-yx1earphones {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .main-items-yx1earphones div {
    flex: 1;
    border-radius: 1rem; }
  .main-items-yx1earphones img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .main-items-yx1earphones-text {
    padding: 4rem 0 4rem 2rem;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .main-items-yx1earphones img {
    border-radius: 1rem; }
  @media (min-width: 480px) {
    .main-items-yx1earphones {
      flex-direction: row; } }

.checkout {
  background-color: #f2f2f2; }

.checkout-main {
  margin: 3rem auto; }

.checkout-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  @media (min-width: 992px) {
    .checkout-form {
      flex-direction: row;
      align-items: flex-start; } }
  .checkout-form > div {
    border-radius: 1rem;
    background-color: #fff; }
    .checkout-form > div:first-child {
      font-size: 1.2rem;
      padding: 3.2rem 2.4rem; }
      @media (min-width: 992px) {
        .checkout-form > div:first-child {
          padding: 4rem;
          padding-top: 5rem;
          flex-basis: 65%; } }
    .checkout-form > div:nth-child(2) {
      flex-basis: 35%;
      padding: 3.2rem 2.4rem; }
      @media (min-width: 576px) {
        .checkout-form > div:nth-child(2) {
          padding: 3.2rem; } }
  .checkout-form fieldset {
    border: none;
    margin-bottom: 3rem; }
  .checkout-form legend {
    color: #d87d4a;
    margin-bottom: 2rem;
    font-weight: 700; }
  .checkout-form h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .checkout-form h3 {
    font-size: 1.8rem; }
  .checkout-form-inputs-wrapper, .checkout-form-radio-wrapper {
    display: grid;
    gap: 1.6rem; }
    @media (min-width: 480px) {
      .checkout-form-inputs-wrapper, .checkout-form-radio-wrapper {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 480px) {
      .checkout-form-inputs-wrapper .user-adress, .checkout-form-radio-wrapper .user-adress {
        grid-column: 1/3; } }
    .checkout-form-inputs-wrapper label,
    .checkout-form-inputs-wrapper p, .checkout-form-radio-wrapper label,
    .checkout-form-radio-wrapper p {
      display: block;
      margin-bottom: 1.6rem;
      font-weight: 700; }
    .checkout-form-inputs-wrapper input, .checkout-form-radio-wrapper input {
      padding: 1.6rem;
      border: 1px solid #cfcfcf;
      border-radius: 0.5rem;
      width: 100%;
      accent-color: #d87d4a; }
      .checkout-form-inputs-wrapper input:focus-visible, .checkout-form-radio-wrapper input:focus-visible {
        outline: 1.5px solid #d87d4a; }
  .checkout-form-radio-wrapper label {
    padding: 1.6rem;
    border: 1px solid #cfcfcf;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 1;
    cursor: pointer;
    margin-bottom: 3rem; }
    .checkout-form-radio-wrapper label input {
      flex-basis: 3rem;
      cursor: pointer; }
  .checkout-form-information {
    display: flex;
    gap: 2rem; }
    .checkout-form-information img {
      flex-basis: 4.8rem;
      align-self: center; }
    .checkout-form-information p {
      margin: 0; }
  .checkout-form .hide {
    display: none; }
  .checkout-form-summary-list {
    font-weight: 700; }
    .checkout-form-summary-list ul {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .checkout-form-summary-list ul li {
      display: flex;
      gap: 2rem; }
      .checkout-form-summary-list ul li img {
        width: 7rem;
        object-fit: cover; }
      .checkout-form-summary-list ul li div {
        align-self: center; }
    .checkout-form-summary-list-col2 p {
      margin-bottom: 0.5rem; }
    .checkout-form-summary-list-col2 p:nth-child(2) {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.5); }
    .checkout-form-summary-list-col3 {
      margin-left: auto;
      color: rgba(0, 0, 0, 0.5); }
  .checkout-form-summary-prices {
    margin: 3.5rem 0 0; }
    .checkout-form-summary-prices div {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .checkout-form-summary-prices div p {
        margin-bottom: 1rem; }
      .checkout-form-summary-prices div p:first-child {
        color: rgba(0, 0, 0, 0.5); }
      .checkout-form-summary-prices div p:nth-child(2) {
        text-align: right;
        font-weight: bold;
        font-size: 1.8rem; }
    .checkout-form-summary-prices div:last-of-type {
      margin: 2rem 0; }
      .checkout-form-summary-prices div:last-of-type p:nth-child(2) {
        color: #d87d4a; }
    .checkout-form-summary-prices button {
      width: 100%; }
